# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment folder
.venv/
venv/

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
